<div class="center jumbotron">
  <h1>Welcome to MyApp Application</h1>
  <h2>
    This is the Home page for my ruby on rails test project.
  </h2>
  <%= link_to "Sign up now!","",class: "btn btn-lg btn-success"%>
  
</div>
<div class="row center">
  <div class="container col-sm-6 col-md-4 col-lg-3">
    <h2>Action discription.</h2>
    <p>&emsp; Some further discriptions for the given action. Some further discriptions for the given action. Some further discriptions for the given action.</p>
    <%= link_to "Button Action","",class: "btn btn-warning btn-small"%>
  </div>
  <div class="container col-sm-6 col-md-4 col-lg-3">
    <h2>Action discription.</h2>
    <p>&emsp; Some further discriptions for the given action. Some further discriptions for the given action. Some further discriptions for the given action.</p>
    <%= link_to "Button Action","",class: "btn btn-warning btn-small"%>
  </div>
  <div class="container col-sm-6 col-md-4 col-lg-3">
    <h2>Action discription.</h2>
    <p>&emsp; Some further discriptions for the given action. Some further discriptions for the given action. Some further discriptions for the given action.</p>
    <%= link_to "Button Action","",class: "btn btn-warning btn-small"%>
  </div>
  <div class="container col-sm-6 col-md-4 col-lg-3">
    <h2>Action discription.</h2>
    <p>&emsp; Some further discriptions for the given action. Some further discriptions for the given action. Some further discriptions for the given action.</p>
    <%= link_to "Button Action","",class: "btn btn-warning btn-small"%>
  </div>
</div>